[package]
name = "hussh"
version = "0.1.5"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "hussh"
crate-type = ["cdylib"]

[dependencies]
openssl = { version = "0.10", features = ["vendored"] }
pyo3 = "0.21.0"
# ssh2 = "0.9"
# temporary until ssh2#312 makes it into a release. probably 0.9.5
ssh2 = { git = "https://github.com/alexcrichton/ssh2-rs", branch = "master" }
